@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap');
* {
    color: white;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Josefin Slab', serif;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-color: rgba(24, 24, 24, 1);
    position: relative;
}
a {
    text-decoration: none;
}








header {
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(24, 24, 24, 1);
    border-bottom: 2px solid gray;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo-container {
    display: flex;
    align-items: center;

}
.logo-icon {
    width: 40px;
}
.logo {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
.menu {
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-width: 240px;
}
.menu-item {
    text-decoration: none;
}
.header-btn {
    padding: 10px 20px;
    background-image: linear-gradient(150deg, rgba(145, 15, 204, 1), rgba(252, 185, 42, 1));
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.header-btn img {
    width: 20px;
    margin-bottom: -3px;
}
@media screen and (max-width: 623px) {
    header {
        justify-content: center;
        position: static;
    }
    .header-btn {
        margin-top: 30px;
    }
}
@media screen and (max-width: 623px) {
    .menu {
        margin-top: 30px;
        min-width: 100%;
    }
}



.hero-section {
    padding: 180px 5% 100px 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
}
@media screen and (max-width: 700px) {
    .hero-section {
        grid-template-columns: 1fr;
        padding-top: 400px;
    }
}
@media screen and (max-width: 623px) {
    .hero-section {padding-top: 100px;}
}
.headline {
    font-size: 5.6vw;
    position: relative;
}
@media screen and (max-width: 700px) {
    .headline {
        font-size: 12vw;
        margin-bottom: 20px;
    }
}
.overlay {
    height: 80px;
    width: 80px;
    border-radius: 500px;
    opacity: 1;
    background-color: rgba(252, 185, 42, 0.03);
    box-shadow: 0 0 100px 200px rgba(252, 185, 42, 0.03);
    position: absolute;
    top: 0;
    left: 0;
}
.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 50px;
    height: 50px;
    border: 6px;
    background-color: gray;
    position: absolute;
    top: 0;
    right: 50px;
    transform: rotate(35deg);
    z-index: -1;
}
.hero-texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.hero-image-container {
    position: relative;
}
.hero-image-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
@media screen and (max-width: 1100px) {
    .hero-image-container img {
        height: 400px;
    }
}
.hero-image-overlay{
    background: transparent;
    border: 2px solid gray;
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: -20px;
    left: -20px;
    z-index: -1;
}







.cta-under-hero-section {
    background-color: rgba(42, 41, 36, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin-top: 100px;
}
.cta-uh-container {
    width: 90%;
    padding: 30px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 6px dashed gray;
    border-bottom: 6px dashed gray;
    column-gap: 20px;
    row-gap: 20px;
}
@media screen and (max-width: 700px) {
    .cta-uh-container {
        grid-template-columns: 1fr;
    }
}
.camera-container, .ctauh {
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 30px;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .camera-container, .ctauh {
        grid-template-columns: 100px 1fr;
    }
}
.camera-container img{
    width: 100%;
}
.camera-container h1, .ctauh h1 {
    font-size: 30px;
    color: rgba(252, 185, 42, 1);
}
.circle-cta img{
    width: 30px;
}
.circle-cta {
    background-image: linear-gradient(150deg, rgba(145, 15, 204, 1), rgba(252, 185, 42, 1));
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 55px;
    cursor: pointer;
}

.category-section {
    padding: 200px 5% 100px 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.selector {
    font-size: 5vw;
    color: gray;
    transition: 0.2s;
    margin-bottom: 20px;
}
.selector:hover {
    color: white;
}
.category-image-container {
    position: relative;
}
.category-image-container .circle-cta {
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: -40px;
    border: 10px solid rgba(24, 24, 24, 1);
}
.category-image {
    width: 100%;
    height: 800px;
    object-fit: cover;
}
@media screen and (max-width: 700px) {
    .category-section {
        grid-template-columns: 1fr;
    }
    .selector {
        font-size: 10vw;
    }
    .category-image-container .circle-cta {
        top: auto;
        bottom: -40px;
        left: 100px;
    }
} 















.my-work-section {
    padding: 100px 5% 20px 5%;
    background-color: rgba(42, 41, 36, 1);
    text-align: center;
    position: relative;
    margin-bottom: 300px;
}
.my-work-section .header-btn {
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.433);
}
.work-container {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    margin-bottom: -300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
@media screen and (max-width: 1100px) {
    .work-container {
        grid-template-columns: 1fr 1fr;
    }
    .my-work-section {
    margin-bottom: 900px;
    }
}
@media screen and (max-width: 580px) {
    .work-container {
        grid-template-columns: 1fr;
    }
    .my-work-section {
        margin-bottom: 2200px;
        }
}
.work-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 0 50px rgba(252, 185, 42, 0.1);
}















.about-me-section {
    padding: 100px 15%;
}
.about-me-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    background-color: rgba(42, 41, 36, 1);
    padding: 20px;
}

.about-me-image-container {
    position: relative;
}
.about-me-image-container img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.line {
    display: flex;
    width: 60px;
    height: 2px;
    background-color: rgba(252, 185, 42, 1);
    margin-right: 10px;
}
.about-me-texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.about-me-texts-container h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgba(252, 185, 42, 1);
    margin-bottom: 20px;
}
.about-me-texts-container p {
    font-size: 20px;
}
.numbers-container {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
}
.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numbers h1 {
    color: white;
    font-size: 90px;
    margin-bottom: 0;
}
.numbers p {
    font-size: 20px;
    color: rgba(252, 185, 42, 1);
}
@media screen and (max-width: 1080px) {
    .about-me-container {
        grid-template-columns: 1fr;
        padding: 50px 0;
    }
    .about-me-container p {
        font-size: 18px;
    }
    .about-me-section {
        padding: 100px 0%;
    }
    .numbers h1 {
        color: white;
        font-size: 40px;
        margin-bottom: 0;
    }
    .about-me-texts-container  {
        padding: 0 20px;
    }
}



.testimonials {
    padding: 100px 0;
}

.swiper-slide, .swiper, .swiper-wrapper {
    height: 500px;
}
.swiper-slide p, .swiper-slide h1, .swiper-slide h2 {
    color: black;
    text-align: center;
}
.swiper-slide {
    border-radius: 6px;
}
.swiper-slide p {
    padding-bottom: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.528);
    margin: 0 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}
.swiper-slide h2 {
    margin-top: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 5%;
    background-color: rgba(42, 41, 36, 1);
    text-align: center;
}
footer .headline {
    color: rgba(252, 185, 42, 1);
    margin: 20px 0;
}
@media screen and  (max-width: 700px) {
    footer .headline {
        font-size: 7vw;
    }
}
footer p {
    color: rgba(252, 185, 42, 1);
    font-size: 24px;
}
footer p span {
    color: rgba(145, 15, 204, 1);
}
.email-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(252, 185, 42, 1);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    cursor: pointer;
}
.email-btn img{
    width: 30px;
}